<h2>Add Person</h2>

<form [formGroup]="form">

  <div>
  <label>Name</label>
  <input type="text" formControlName="name" />

  <div *ngIf="form.get('name')?.touched && form.get('name')?.invalid">
    <small *ngIf="form.get('name')?.errors?.['required']">
      Name is required
    </small>
    <small *ngIf="form.get('name')?.errors?.['minlength']">
      Name must be at least 3 characters
    </small>
    <small *ngIf="form.get('name')?.errors?.['notUnique']">
      Name must be unique
    </small>
  </div>
</div>

 <div>
  <label>Email</label>
  <input type="email" formControlName="email" />

  <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
    <small *ngIf="form.get('email')?.errors?.['required']">
      Email is required
    </small>
    <small *ngIf="form.get('email')?.errors?.['email']">
      Invalid email format
    </small>
  </div>
</div>

 <div>
  <label>Phone</label>
  <input type="text" formControlName="phone" />

  <div *ngIf="form.get('phone')?.touched && form.get('phone')?.invalid">
    <small>
      Phone is required
    </small>
  </div>
</div>

  <div class="actions">
    <button type="button" (click)="cancel()">Cancel</button>
    <button type="button" (click)="submit()" [disabled]="form.invalid">
      Save
    </button>
  </div>

</form>